flask
psycopg2-binary
Werkzeug
flask-socketio
python-dotenv
flask-mail
itsdangerous
google-generativeai
eventlet
python-docx
reportlab
pypdf
pdfplumber
pdfminer.six
PyPDF2
openpyxl
gunicorn
PyMuPDF
flask-dance
authlib
